.Box { 

    border: 1px solid black;
    text-align: center;
    background-color: blueviolet;
}
.dark{
    background-color: black;
    color: white;
    
   
}
.light{
    background-color: white;
    color: black;
}